body{
    background-size: auto;
    background-position: center;
    background-position-y: 3%;
    background-image: url("img/web background.png") ;
    background-size: 1920px 1080px;
    margin: 0%;
}

h1{
    position: relative;
    top: 27vh;
    text-align: center;
    color: rgb(18, 18, 215);
    font-family: fatfrank, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    font-kerning: auto;
}

.navbar a{
    position: relative;
    top: 0.7vh;
    left: 44.5vw;
    text-align: center;
    font-family: fatfrank, sans-serif;
    padding: 7px;
    color: rgb(18, 18, 215);
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
}

.navbar a:hover {
    background-color: rgb(18, 18, 215);
    color: aliceblue;
    
}




/* images for links below */

#crane{
    position: absolute;
    top: 22vh;
    left: 22vw;
    height: 21vh;
    rotate: 15deg;

}


.card:hover .img-1-lable{
    display: inline-block;
}

.card:hover .img-1{
    display: none;
}

.hover_img-1{
    display: none;
}

.card:hover .hover_img-1{
   display: inline-block;
   transform: scale(1.2);
}

#boat{
    position: absolute;
    top: 18vh;
    left: 39vw;
    height: 14.5vh;
}

.card1:hover .img-2{
    display: none;
}

.hover_img-2{
    display: none;

}
.card1:hover .hover_img-2{
   display: inline-block;
   transform: scale(1.2);

}

#lily{
    position: absolute;
    height: 22vh;
    top: 55vh;
    right: 39vw;
    rotate: -30deg;
}

.card2:hover .img-3{
    display: none;
}

.hover_img-3{
    display: none;
}

.card2:hover .hover_img-3{
   display: inline;
   transform: scale(1.2);
}

#swan{
    position: absolute;
    height: 21vh;
    top: 49vh;
    right: 26vw;
    rotate: 17deg;
}

.card3:hover .img-4{
    display: none;
}

.hover_img-4{
    display: none;

}
.card3:hover .hover_img-4{
   display: inline-block;
   transform: scale(1.2);

}

#heart{
    position: absolute;
    height: 14vh;
    top: 20vh;
    right: 75.8vh;
    rotate: 24deg;
}

.card4:hover .img-5{
    display: none;
}

.hover_img-5{
    display: none;
}

.card4:hover .hover_img-5{
   display: inline;
   transform: scale(1.2);
}

/* #bag{
    position: fixed;
    max-height: 160px;
    top: 19%;
    left: 64%;
    rotate: -25deg;
}

.card5:hover .img-6{
    display: none;
}

.hover_img-6{
    display: none;
}

.card5:hover .hover_img-6{
    display: inline;
    transform: scale(1.2);
} */

#frog{
    position: absolute;
    height: 18vh;
    top: 26vh;
    right: 51vh;
    rotate: 10deg;
}

.card6:hover .img-7{
    display: none;
}

.hover_img-7{
    display: none;
}

.card6:hover .hover_img-7{
    display: inline;
    transform: scale(1.2);
}

#butterfly{
    position: absolute;
    height: 14.5vh;
    top: 55vh;
    left: 28vw;
    rotate: -43deg;
}

.card7:hover .img-8{
    display: none;
}

.hover_img-8{
    display: none;
}

.card7:hover .hover_img-8{
    display: inline;
    transform: scale(1.2);
}

#bird{
    position: absolute;
    height: 15vh;
    top: 58vh;
    left: 39vw;
    rotate: -335deg;
}

.card8:hover .img-9{
    display: none;
}

.hover_img-9{
    display: none;
}

.card8:hover .hover_img-9{
    display: inline;
    transform: scale(1.2);
}

