body{
    background-image: url("img/web background.png") ;
    
}

h2{
    /* top: 30vh; */
    text-align: center;
    color: rgb(18, 18, 215);
    font-family: fatfrank, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    font-kerning: auto;
}

#status{
    position: absolute;
    top: 22vh;
    left: 25vw;
    width: 50vw;
    margin: 0 auto;
    height: 2vh;
    max-height: 3vh;
}

#left-button,
#right-button{
    position: absolute;
    top: 55vh;
    display: inline-block;
    background-color: rgb(18, 18, 215);
    border: none;
    color: aliceblue;
    padding: 1.3vh 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 1vh;
    transform: translate(0, -50%);
}

#left-button{
    left: calc((100% - 820px) / 2 - 7vw);
}

#right-button{
    right: calc((100% - 820px) / 2 - 7vw);
}


/* scrool */

   
.internal{
    align-items:normal;
    width: 830px;
    height: 50vh;
    border: transparent;
    display: inline-block;
}
 
.center{
    position: relative;
    width: 830px;
    height: 60vh;
    /* max-height: 50vmax; */
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(16, 16, 16);
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
}

#back{
    position: relative;
    top: 1vh;
}

.navbar a{
    position: relative;
    left: 47.4vw;
    text-align: center;
    font-family: fatfrank, sans-serif;
    padding: 7px;
    color: rgb(18, 18, 215);
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
}

.navbar a:hover {
    background-color: rgb(18, 18, 215);
    color: aliceblue;
    
}



/* DIFFRENT WINDOW SIZES  */


/* 

@media screen and (max-width: 1950px)
{
    
#left-button{
    position: absolute;
    left: 21%;
    right: 74%;
    top: 38%;
}

#right-button{
    position: absolute;
    left: 72.5%;
    right: 22.5%;
    top: 38%;
}

    #status{
        position: fixed;
        left: 27.8%;
        right: 24.5%;
        top: 13%;
        width: 830px;
        height: 20px;
    }
    .center{
        position: relative;
        align-items: center;
        top: 25%;
        left: 27.5%;
        right: 24.5%;
        width: 830px;
        height: 500px;
        transform-origin: 415px 250px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(16, 16, 16);
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
    
       }
}

 */


/* 
@media screen and (max-width: 1650px)
{
        
#left-button{
    position: absolute;
    left: 18%;
    right: 77%;
    top: 38%;
}

#right-button{
    position: absolute;
    left: 76.5%;
    right: 18.5%;
    top: 38%;
}

    #status{
        position: fixed;
        left: 24%;
        right: 24%;
        top: 13%;
        width: 830px;
        height: 20px;
    }

    .center{
        position: relative;
        align-items: center;
        top: 25%;
        left: 23.5%;
        right: 24.5%;
        width: 830px;
        height: 500px;
        transform-origin: 415px 250px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(16, 16, 16);
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
    
       }


}
 */


/* @media screen and (max-width: 1550px)
{
    #left-button{
        position: absolute;
        left: 18%;
        right: 77%;
        top: 58%;
    }
    
    #right-button{
        position: absolute;
        left: 81%;
        right: 13.5%;
        top: 58%;
    }
    
        #status{
            position: fixed;
            left: 24%;
            right: 24%;
            top: 22%;
            width: 830px;
            height: 20px;
        }
    
        .center{
            position: relative;
            align-items: center;
            top: 25%;
            left: 23.5%;
            right: 24.5%;
            width: 830px;
            height: 500px;
            transform-origin: 415px 250px;
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(16, 16, 16);
            margin: 0px;
            overflow: hidden;
            white-space: nowrap;
        
           }
} */






